<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1>Send a post request</h1>
    <form action="/sendPayLoad" method="post">
        <select name="jsonpayload">
            {{#each data}}
            <option value='{"userId":"1250309", 
            "detailList":[
            {"name":"{{name}}", "destination" : "{{destination}}", "date":"{{date}}", "description":"{{description}}",
            "modeOfTransportation":"{{transportation}}", "amountOfPeople":"{{number}}", "riskAssessment":"{{risk}}"}]}'>
                userId 1250309 - detail {{name}}
            </option>{{/each}}
            <option value=' 
                "detailList":[
                {"name":"Mobile learning",  "description" : "wm246-test 123"}]}'>Invalid payload</option>
        </select>
        <input type="submit" value="Send">
    </form>
</body>

</html>